__pycache__/
states/

SeisCL
Viscoelastic3D
books

carcione1988_test/old
carcione1988_test/plots*
carcione1988_test/Ax.txt
carcione1988_test/Ay.txt
carcione1988_test/rect_*/elastic*
carcione1988_test/rect_*/viscoelastic*
carcione1988_test/rect_*/calc-all.sh
carcione1988_test/rect_*/clean-all.sh
carcione1988_test/analytical_sol/analytical_solution
carcione1988_test/analytical_sol/*.dat
carcione1988_test/analytical_sol/spectrum_of_the_source_used.gnu

komatitsch1999/analytical_sol/bin
komatitsch1999/analytical_sol/*.dat
komatitsch1999/analytical_sol/spectrum_of_the_source_used.gnu
komatitsch1999/results
komatitsch1999/rect_*/elastic*
komatitsch1999/rect_*/viscoelastic*
komatitsch1999/rect_*/calc_rect.sh
komatitsch1999/rect_*/clean_rect.sh
komatitsch1999/rect_sol_old

komatitsch1999/specfem_sol/bin
komatitsch1999/rect_sol/bin
komatitsch1999/specfem_sol/check_absolute_amplitude_of_force_source_seismograms_viscoelastic_auto*
komatitsch1999/specfem_sol/calc_specfem.sh
komatitsch1999/specfem_sol/clean_specfem.sh
